* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #F1F5F8;
	color: #222;
}

.booklist {
	width: 90vw;
	max-width: 1170px;
	margin: 7rem auto;
	display: grid;
	grid-gap: 2rem;
}

@media (min-width: 768px) {
	.booklist {
		grid-template-columns: repeat(3, 1fr);
	}
}

.book {
	background: #FFF;
	border-radius: 1rem;
	padding: 1rem 2rem;
}